body{
	background: black;
	font-family: Times New Roman, Serif;
}

p{
	margin: 0;
	padding: 0;
	margin-left: 40px;
	margin-right: 40px;
	font-size: 10pt;
	text-indent: 0;
}

h1{
	font-size: 16pt;
	margin: 5pt;
	padding: 5pt;
	background: none;
	border: none;
}

h2{
	font-size: 12pt;
	margin: 4pt;
	padding: 4pt;
	margin-bottom: 1pt;
	padding-bottom: 1pt;
	text-align: left;
}

ul{
	margin: 0;
	padding: 0;
	margin-left: 80px;
	font-size: 10pt;
}

.bold{
	font-weight: bold;
}

.left_special{
	width: 50%;
	margin-left: 40px;
}

.center{
	text-align: center;
}

.right_special{
	width: 40%;
	text-align: right;
}

#textbox {
	display: flex;
	justify-content: space-between;
}

#body {
	background-color: rgb(240, 240, 240);
	margin: auto;
	width: 60%;
	min-width: 600px;
	border: 4px groove rgb(140, 190, 220);
	border-radius: 15px;
	padding: 10px;
	padding-bottom: 20px;
	margin-top: 10px;
	margin-bottom: 50px;
	padding-left: 20px;
}