.content{
	/*margin-bottom: -25px;*/
}


.introBox{
	height: 500px;
}
.introBox img{
	float: left;
	margin-left: 10%;
	margin-top: 50px;
}
.introBox .textBox{
	float: right;
	margin-left: 0;
	margin-right: 10%;
}
.introBox p{
	width: 84%;
	margin-left: 8%;
	text-align: justify;
}

#myWebpage{
	float: left;
	width: 100%;
	margin-left: 0;
	margin-bottom: 20px;
	margin-top: -20px;
}

.sectionContainer{
	background: rgb(200, 225, 255);
}