.linkBox{
	background: rgb(150, 240, 220);
	color: rgb(45, 130, 70);
	border: 2px groove rgb(130, 180, 220);
	border-radius: 10px;
	margin-top: 10pt;
	font-family: Verdana;
	margin-bottom: 20px;
}
.linkBox a{
	text-decoration: none;
	color: rgb(45, 130, 70);
	font-size: 12pt;
}
.linkBox h2{
	font-size: 20pt;
	margin: 2pt;
	margin-top: 5pt;
	padding: 0;
	background: none;
	text-align: left;
}
.linkBox ul{
	padding: 0;
	padding-top: 0;
	margin: 20px;
	margin-left: 40px;
	margin-top: 0;
}