
/* Root */
:root {
	--header-bg-color: rgb(149 161 169 / 90%);
	--header-color: rgb(255, 255, 255);
	--header-hover-color: rgb(255, 235, 155);
	--light-hover: rgb(245, 245, 245);
	--text-hover: rgb(125, 125, 125);
	--footer-bg: rgb(50, 50, 50);
	--footer-color: rgb(100, 110, 120);
	--content-bg: linear-gradient(135deg, rgb(255 255 255), rgb(223 221 221), rgb(255, 255, 255), rgb(210 210 210), rgb(245, 246, 245));
}

body{
	padding: 0;
	margin: 0;
	font-family: Verdana;
}

h1, h2 {
	margin: 0;
}
h2 {
	padding: .83em 0;
}

img{
	max-width: 100%;
	display: block;; 
}

/* Header */

.header{
	font-family: Calibri, sans-serif;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	background: var(--header-bg-color);
	color: var(--header-color);
	position: sticky;
	z-index: 3;
}

.header h1{
	text-align: center;
	padding: 5pt;
	padding-bottom: 10pt;
	margin: 0;
	font-size: 26pt;
	background: inherit;
	color: inherit;
}

ul{
	padding-top: 0;
	margin-top: 0;
}

a{
	text-decoration: none;
	color: inherit;
}
.textBox a:hover {
    color: rgb(124 124 124);
}

.linksBar{
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	width: 100%;
	font-family: Lucida Console, Castellar, Arial;
	font-size: 11pt;
	padding: 0;
	margin: 0;
	background: inherit;
	color: inherit;
}
.linksBar ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background: inherit;
	display: inline-block;
}
.linksBar li{
	float: left;
	padding: 0pt 8pt;
}
.linksBar a{
	text-decoration: none;
	color: inherit;
	font-size: 11pt;
	display: block;
	padding: 4pt 8pt;
}
.linksBar a:hover{
	background: var(--header-hover-bg);
	color: var(--header-hover-color);
}

.header .material-icons{
	font-size: 36px;
}

.header .menu{
	display: none;
    background: inherit;
    border: none;
}

button.menu {
    outline: none;
}

/* Content */

.content {
	background: linear-gradient(135deg, rgb(255 255 255), rgb(230, 230, 230), rgb(210, 210, 210), rgb(240, 240, 240));
	background: var(--content-bg);
	background-attachment: fixed;
	z-index: 1;
	width: 100%;
}

.flexContainer{
	display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}
.flexBox:hover {
    background: var(--light-hover);
}
.flexBox {
    padding: 5px;
    border-radius: 20px;
}
.flexBox h3 {
	text-align: center;
}
.flexBox hr {
    width: 80%;
}
.flexBox p {
	padding: 5px;
	line-height: 1.8;
}

.introBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.introBox div {
	padding: 10px;
}

.textBox {
	line-height: 2;
	font-size: 1em;
}
.textBox p {
    text-indent: 2em;
    margin-bottom: 2em;
}

.sectionContainer {
    padding: 20px 0;
}
.sectionContainer h2 {
    text-align: center;
}


/* Footer */
.footer{
	width: 100%;
	background: var(--footer-bg);
	float: left;
	color: var(--footer-color);
	z-index: 5;
}
.footerBox{
	padding: 10pt;
	padding-top: 2%;
	padding-bottom: 5%;
	/* padding-left: 10%; */
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.footerBox h2{
	text-align: center;
	font-size: 16pt;
	padding: 0;
	margin: 2pt;
	margin-top: 5pt;
	margin-bottom: 5pt;
}
.footerBox a:hover{
	color: rgb(200, 200, 200);
}
.footerBox ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-left: 40px;
}
.subFooterBox{
	margin-bottom: 10px;
}



/* Phone styles */
@media screen and (max-width: 820px) {
	/* Header */

	/* Switch to the menu icon when the screen is too small to fit all links */
	.linksBar {
	  display: none;
	}
	.header .menu {
	  float: right;
	  display: block;
	  color: var(--header-color);
	}

	
	.linksBar.showing ul {
		position: absolute;
		right: 0;
		top: 60px;
		width: 100%;
		padding: 7px 0px;
	}

	.linksBar.showing li {
		float: none;
		width: 100%;
	}

	.linksBar.showing li:hover {
		/* background: var(--header-hover-bg); */
		color: var(--header-hover-color);
	}

	.linksBar.showing {
		display: block;
	}

	/* Content */
	.introBox {
		grid-template-columns: 1fr;
	}

	/* footer */

	.footerBox{
		grid-template-columns: 1fr;
	}
	.footerBox ul {
		font-size: .8em;
	}

}
