body{
   background-color: rgb(210, 235, 250);
   font-size: 12pt;
   color: #281e32;
}

h1{
	text-align: center;
	text-decoration: underline;
	text-shadow: 2px 2px rgb(150, 150, 250);
}

p {
 font-family: Comic Sans MS, Arial, Times New Roman;
 background-color: rgb(150, 220, 180);
 text-align: center;
 border: 3px groove rgb(140, 190, 220);
 border-radius: 15px;
}