body{
	background: rgb(210, 230, 255);
}

h1{
	text-align: center;
	background: rgb(250, 100, 120);
	background: linear-gradient(to right, rgb(250, 150, 160), rgb(250, 50, 60), rgb(250, 150, 160));
	color: rgb(0, 0, 50);
	margin-top: 0;
	padding: 10pt;
	border-radius: 15px;
}

h2{
	text-align: center;
	background: rgb(140, 180, 250);
	background: linear-gradient(to right, rgb(180, 220, 255), rgb(140, 180, 250), rgb(180, 220, 255));
	padding: 5pt;
	border-radius: 15px;
}

table, td, th, .title {
	border-radius: 3px;
}

table{
	border: 3px groove rgb(40, 50, 130);
	background-color: rgb(150, 220, 190);
	margin: 10pt;
	text-align: center;
}

th{
	border: 3px groove black;
	background-color: rgb(230, 240, 180);
}

td{
	border: 3px groove black;
	background-color: white;
}

a{
	text-decoration: none;
	text-weight: bold;
	text-shadow: 1px white;
}

.title{
	background: linear-gradient(to right, rgb(250, 220, 190), rgb(250, 200, 170), rgb(250, 220, 190));
	text-align: center;
	font-weight: bold;
	font-size: 14pt;
}

.pageLocations{
	background: linear-gradient(to right, #ffffff, rgb(200, 215, 230));
	border-radius: 15px;
	width: 50%;
}

.horizontal-menu ul{
	background-color: rgb(150, 150, 150);
	margin-bottom: 2%;
}
.horizontal-menu li a{
	background-color: rgb(150, 150, 150);
	color: black;
}
.horizontal-menu li a:hover{
	background-color: rgb(50, 50, 50);
	color: rgb(150, 150, 150);
}

.rightMenu{
	position: fixed;
	top: 30%;
	right: 0px;
	font-family: Arial;
	font-size: 16pt;
	background: rgb(245, 245, 245);
	color: black;
}
.rightMenu ul{
	display: block;
	list-style-type: none;
	background: inherit;
	padding: 0;
	margin: 0;
}
.rightMenu li{
	padding: 0;
	margin: 0;
	border: 1px solid rgb(140, 140, 140);
}
.rightMenu li:hover{
	border: 1px solid white;
}
.rightMenu a{
	text-decoration: none;
	color: inherit;
	font-size: inherit;
	display: block;
	padding: 4pt 20pt;
	text-align: center;
}
.rightMenu a:hover{
	background: rgb(140, 140, 140);
	color: rgb(230, 230, 230);
}